.change-password-page {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: left;
}

.change-password-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid red;
  background-color: #ffe0e0;
  border-radius: 4px;
  text-align: left;
}

.success-message {
  color: green;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid green;
  background-color: #e0ffe0;
  border-radius: 4px;
  text-align: left;
}

.change-password-form {
  display: flex;
  flex-direction: column;
}

.form-group-change-password {
    position: relative; 
    width: 100%;
    margin-bottom: 0;
}

.form-group-change-password label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.form-group-change-password input[type="password"],
.form-group-change-password input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; 
}
.toggle-password-visibility {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(10%); 
    cursor: pointer;
    color: #888;
    font-size: 1.1em; 
    z-index: 2; 
}
.change-password-form button {
  background-color: #007bff; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.change-password-form button:hover {
  background-color: #0056b3;
}

.change-password-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}