.login-page-container {
    background-color: #f7fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at top left, rgba(147, 197, 253, 0.3) 20%, transparent 60%),
                      radial-gradient(circle at bottom right, rgba(192, 132, 252, 0.3) 20%, transparent 60%);
    background-size: 200% 200%; 
    animation: backgroundPan 8s infinite alternate; 
}

@keyframes backgroundPan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.login-page-container .form-wrapper {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}